{
    presets: [
        ['es2015', { modules: false }],
    ],
    plugins: [
        'transform-object-rest-spread',
    ],
    env: {
        // CommonJS
        cjs: {
            presets: [
                'es2015',
            ],
        },
        // ES6+ modules
        es: {
        },
    },
}
